.app-container{
  width:100%;
  padding:0 10px;
  max-width:600px;
  margin-left:auto;
  margin-right:auto;
  height:100vh;
  display:flex;
  flex-direction:column;
}
@media (max-width: 480px) {
  .app-container {
    padding: 0 8px;
  }
}
@media (min-width: 768px) {
  .app-container {
    padding: 0 16px; 
  }
}
