.input-and-send{
  display:flex;
  margin-bottom:60px;
  margin-top:30px;
}
.chat-input{
  padding:10px 15px;
  border-radius:10px;
  border-width:1px;
  font-size:15px;
  flex-grow:1;
  border:solid;
  border-color:rgb(165, 163, 163);
}
.send-button{
  background-color:rgb(107, 107, 215);
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:7px;
  font-size:15px;
  margin-left:10px;
  cursor:pointer;
}
.Toastify__progress-bar {
  background:rgb(107, 107, 215) !important;
}




